__pycache__/
HMR-Scorer/common/utils/human_model_files
HMR-Scorer/pretrained_models/
HMR-Scorer/dataset
HMR-Scorer/output
.vscode
*.npy
*.tar
HMR-Scorer/main/vis
HMR-Scorer/main/vis*
demo/
*egg-info/
.idea/
HMR-Scorer/data/SHAPY/mesh-mesh-intersection/build/
HMR-Scorer/data/SHAPY/mesh-mesh-intersection/mesh_mesh_intersect_cuda.cpython-38-x86_64-linux-gnu.so

*.pyc
*.npy
*.jpg
*.png
*.zip
*.obj
*.deb
*.pkl
*.log
__pycache__
version.py
version.txt.1

/.eggs
*.DS_Store
ADHMR/experiment/
ADHMR/data/
ADHMR/model/
ADHMR/input/
ADHMR/output/
ADHMR/VirtualPose/